
.PageContainer{
  width: 100%;
  background-color: rgba(30, 42, 58, 0.961);
  height: 100vh;
}

.container {
  width: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  height: 100vh;
  background-color: rgb(17, 27, 38);
  max-width: 600px;
  margin: auto;
}



.videoContainer {
  position: relative;
  margin: 0;
  width: 100%;
  height: 45.5vw;
  max-height: 273px;
  outline: none;
  background-color: rgb(30, 42, 58);

    
  }

  .youtubePreview {
    width: 80%;
    height: 45.2vw;
    max-height: 271px;
    float: right;
  }
  .gradient {
    position: absolute;
    transition: width 0.2s ease-out;
    top: 0;
    left: 0;
    z-index: 2;
    width: 33%;
    height: 100%;
    background: rgba(30, 42, 58, 0.961);
    background: linear-gradient(90deg, rgba(30, 42, 58,0.96) 0%,
     rgba(30, 42, 58,0.96) 69%, rgba(0,0,0,0) 100%);
  }
  .posterImg {
    width: 65%;
    height: auto;
    justify-self: center;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 4%;
  }

  

.titleInfo{
  background-color :rgb(45, 55, 68);
  border-top: 1px solid rgba(0,0,0,0.8);
  border-bottom: 1px solid rgba(0,0,0,0.8);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fffefc;
}
show-title {
  font-size: min(max(20px, 4vw), 28px);
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
.showDetails{
  font-size: min(max(12px, 2vw), 16px); ;
}
.verticalLine{
  margin: 0 0.5em;
}
.rating {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.details{

  background-color: rgba(17, 26, 37, 0.96);
  color: #fffefc;
  font-size: large;
  line-height: 1.4;

}


.summery {
  padding: 0.5em;
  border-bottom: 1px solid rgba(0,0,0,0.8);
}
.cast{
  padding: 0 0 0.5em 0.5em;
  width: 70%;

}
