

.border {
    border:  1px solid blue;
}
.borderRed {
    border:  1px solid red;
}

.aDiv {
    width: 100%;
    height: auto;
    display: inline-block;
}

.aDiv img {
    width: 100%;
    height: auto;
}

@media (max-width: 1000px) {
    .gallery {
    column-count:         3;
    column-gap: 2px;
    }
  }